.home{
    margin-top: -117px;
    height:600px;
    background-image: url('./background.jpg'); /* Replace with your image path */
    background-size: cover;
     background-position: center;
    margin-bottom: 10px;
    /* overflow-y: scroll; */
}
.innercont{
    position: relative;
    top: 23%;
    bottom: 50%;
    width: 40vw;
    margin: auto;
    text-align: start;
    color: white;
   
    
}
.second-search{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    /* border-right: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.second_searchbox{
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: white;
    border-radius: 3px;
    color: black;
    justify-content: center;
    padding: 7px 5px 7px 5px;;
    

}
.footer{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    position: relative;
    bottom: -12%;
    top: 55%;
    left: 17px;
    color: #a4a4a4;
    padding-left: 10px;
}
/* footer  */
.scroll-img{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
    
    
}
#result_img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
@media screen and  (max-width:620px) {
    .scroll-img{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        margin: auto;
    }
    #result_img{
        width:"" ;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .innercont{
        position: relative;
        top: 22%;
        bottom: 50%;
        width: 94vw;
        
    }
    .home{
        margin-top: -117px;
        height:300px;
        width: 100vw;
        background-image: url('./background.jpg'); /* Replace with your image path */
        background-size: cover;
         background-position: center;
        margin-bottom: 10px;
    }
    .second_searchbox{
        display: none;
    }
    .footer{
        display: none;
    }
}