.logoname{
    font-size: 1rem;
    font-weight: 400;
    color: chocolate;
}
.logocont{
background-clip: text;
-webkit-background-clip: text;
}
.search{
    width:50vw;
    padding:10px;
    border-Radius:15px;
    border:none;
    outline:none;
    background-Color:#eee;
}
.second_searchbox2 {
    /* width: vw; */
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #eee;
    border-radius: 15px;
    color: black;
    justify-content: center;
    padding: 2px 12px 2px 12px;
}
@media screen and (max-width: 620px) {
    .second_searchbox2{
        /* width: 35vw; */
    }
    .search{
        width: 30vw;
    }
}