.logoname{
    font-size: 1rem;
    font-weight: 400;
    color: chocolate;
}
.logocont{
background-clip: text;
-webkit-background-clip: text;
}
.second_searchbox2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #eee;
    border-radius: 15px;
    color: black;
    justify-content: center;
    padding: 2px 12px 2px 12px;
}